@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 300vw;
    font-family: "Gilda Display", serif;
    background-color: rgb(38, 2, 38)
}

.navbar{
    display: flex;
    height: 80px;
    color:white;
    margin: 10px;
    
   
}

.navbar li{
    list-style: none;
    margin: 10px;
    
}

.topleft{
    width: 50%;
}

.topright{ 
    width: 50%;
}

.section1{
   max-height: 100vh; 
   color: #0f010c;
}

.section1 h1{
    color:rgb(38, 2, 38);
    font-size: 2rem;
    font-family:cursive;
    }



.logo{
    font-size: 1.3rem;
}

.codeimg{
    width: 290px;
    height: 150px;
    margin-top: 10px;
}

.topright .codingimg{
    width: 400px;
    height: 300px;
    margin-top: 40px;
}

.section2{
    padding: 73px;
}

.section2 h1{
    font-size: 2.3rem;
}

.section2 p{
    padding: 0 8vw;
    text-align: center;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid purple;
    border-radius: 8px;
    text-align: center;
}

.box h2{
    font-size: 2rem;
    padding: 15px 0;
}

.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}

.box ul{
    list-style-type: none;
}

.box ul li{
   margin: 12px 2px;
}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th{ 
    width: 23vw; 
    border-bottom: 2px rgb(38, 2, 38);
    padding: 15px 0;
} 

.section3 table td{   
    border-bottom: 2px rgb(38, 2, 38); 
} 
 

.section3 h1{
    font-size: 2.3rem;
}

.section3{
    padding: 73px;
}

footer{
    padding: 23px;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}